<div class="container">
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4 text-center">
			<h1><%= @user.name %>'s Page</h1>
		</div>
		<div class="col-xs-4 text-right links">
			<a href="/events">Schedule Page</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<h2>
				<%= @user.name %> off day is: 
			</h2>
			<div>
				<%= @user_date %>
			</div>
			<%= form_for @user do |f| %>
			<div>
				<%= f.label :off_day, "Off day:"%>
				<%= f.text_field :off_day , :placeholder => "yyyy-mm-dd"%>
			</div>
			<div>
				<%= f.submit 'Set off day' %>
			</div>
			<% end  %>
		</div>
		<div class="col-xs-4 text-center">
			<h2><%= @user.name %>'s Support Hero Schedule</h2>
			<% @user.events.each do |event| %>
				<div class="event">
					<%= Date.strptime(event.date, "%Y-%m-%d").strftime('%a %d %b %Y') %>
				</div>
			<% end  %>
		</div>
	</div>
</div>

