<div class="container">
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4 text-center">
			<h1><%= @user.name %>'s Page</h1>
		</div>
		<div class="col-xs-4 text-right links">
			<a href="/">Schedule Page</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2>
				<%= @user.name %> off day is: 
			</h2>
			<div>
				<h3>
				<%= @user_off_date %>
				</h3>
			</div>
			<%= form_for @user do |f| %>
			<div>
				<%= f.label :off_day, "Off day:"%>
				<%= f.text_field :off_day , :placeholder => "yyyy-mm-dd" , :required => true, :pattern => '^[0-9]{4}\-[0-9]{1,2}\-[0-9]{1,2}$'%>
				<%= f.submit 'Set off day' %>
			</div>
			<% end  %>
		</div>

	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2><%= @user.name %>'s Support Hero Schedule</h2>
		</div>
		<%= month_calendar events: @user_events , table: {class: "table table-bordered"} do |date, events| %>
		<%= date %>

		<% events.each do |event| %>
		<div class="user-name">
			<%= event.user.name %>
		</div>
		<% end %>
		<% end %>
	</div>
</div>

