<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<div>
				<%= form_for :date, url: "/events", method: "Post" do |f| %>
				<%= f.label :start_date %>
				<%= f.text_field :start_date , :placeholder => "yyyy-mm-dd"%>
				<%= f.submit "Create Schedule" %>
				<% end  %>
			</div>
		</div>
	</div>
	<% if !@events.empty? %>
		<% @events.each do |event|  %>
		<div class="day">
			<%= Date.strptime(event.date, "%Y-%m-%d").strftime('%a %d %b %Y') %> 
			<div>
				<%= event.user.name %>
			</div>
		</div>
		<% end  %>
	<% end  %>
</div>

